/* CSS da página principal */

.tamanho_form{height: 300px;}

#input_link{display: none;}


/* CSS da página listaDesitesConfiáveis */

.section_da_lista{width: 60%; text-align: justify; margin-top: 80px;}


@media only screen and (max-width: 800px) {
  
    .section_da_lista{width: 90%; text-align: justify; margin-top: 80px}

}


@media only screen and (max-width: 550px) {
  
    .section_da_lista{width: 100%;}

    img{height: 40px;}

}



/* CSS da página Sobre nos */

.sobreNos{width: 800px;  
            height: 800px; 
            text-align: justify;  
            margin:auto; 
            padding-top: 10%;}


@media only screen and (max-width: 800px) {
  
    .sobreNos{
    width: 80%;
    height: auto;
    margin-top: 50px;}

    .titulos_sobre_nos{text-align: center;}
    

}
